{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restaurante Pasta La Vista</title>
    <link rel="stylesheet" href="{% static 'gestion/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Sistema de Gestión de Pedidos - Pasta La Vista</h1>
    </header>

    <nav>
        <a href="/">Inicio</a>
        <a href="/clientes/">Clientes</a>
        <a href="/empleados/">Empleados</a>
        <a href="/mesas/">Mesas</a>
        <a href="/platos/">Platos</a>
        <a href="/ordenes/">Órdenes</a>
        <a href="/facturas/">Facturas</a>
        <a href="/admin/">Admin</a>
        <a href="{% url 'logout' %}">Cerrar sesión</a>
    </nav>

    {% if messages %}

        {% for message in messages %}

            <div class="mensaje">

                {{ message }}

            </div>

        {% endfor %}

    {% endif %}

    <div class="contenedor">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>