{% extends 'gestion/base.html' %}

{% block content %}
<h2>Platos</h2>
<a href="{% url 'crear_plato' %}">
    Crear Plato
</a>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Disponible</th>
        <th>Acciones</th>
    </tr>
    {% for plato in platos %}
    <tr>
        <td>{{ plato.id }}</td>
        <td>{{ plato.nombre_plato }}</td>
        <td>{{ plato.descripcion }}</td>
        <td>{{ plato.precio }}</td>
        <td>{{ plato.categoria }}</td>
        <td>{{ plato.disponible }}</td>
        <td>
            <a href="{% url 'editar_plato' plato.id %}">
                Editar
            </a>
            <a href="{% url 'eliminar_plato' plato.id %}"
                onclick="return confirm('¿Desea eliminar este plato?')">
                Eliminar
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}